@use '../../styles/colors' as *;

.home {
  height: calc(100vh - 4rem);
  margin-top: 4rem;
  width: 100%;
  display: flex;
  background-color: $color-bg-blue;
  //   align-items: center;

  &__column-left {
    width: 40%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    padding: 1rem;
  }

  &__column-right {
    width: 60%;
    height: 50%;
    border-radius: 8px;
    overflow: hidden;
  }
  &__text-wrapper {
    padding: 1rem 0;
  }

  &__heading {
    color: $color-2nd-text;
    font-size: 2.5rem;
    // text-align: center;
  }

  &__copy {
    color: $color-2nd-text;
  }

  &__video {
    width: 100%;
    height: 100%;
  }
}
