@use '../../styles/colors' as *;

.home {
    height: 100vh;
    width: 100%;
    background-color: $color-bg-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__background {
        padding: 4rem;
        height: 90%;
        width: 90%;
        background-image: url(../../assets/images/ShiftDelivery-logo-large.png);
        background-size:     contain;                      /* <------ */
        background-repeat:   no-repeat;
        background-position: center center; 
        opacity: 0.5;
        position: absolute;
    }

    &__overlay {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
    }

    &__title {
        font-size: 4rem;
        font-weight: 600;
    }
}