@use '../../styles/colors' as *;

.ctabutton {
  width: 8rem;
  height: 2rem;
  border-radius: 1rem;
  border: 3px $color-bg-blue solid;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  cursor: pointer;
  color: $color-bg-blue;

  &:hover {
    background-color: $color-bg-blue;
    color: white;
    transition: 0.5s ease all;
  }

  &__text {
    font-weight: 500;
    font-size: 1rem;
  }
}
