@use '../../styles/colors' as *;

.ctabutton {
  width: 8rem;
  height: 2rem;
  border-radius: 1rem;
  border: 3px $color-bg-blue solid;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;

  &__text {
    color: $color-shift-blue;
    font-weight: 500;
  }
}
