@use '../../styles/colors' as *;

.header {
    display: flex;
	width: 100%;
	height: 3rem;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
    background-color: white;
    z-index: 99;

    &__logo-nav {
        display: flex;
		align-items: center;
    }

    &__logo {
        color: $color-bg-blue;
        font-weight: 500;
		margin: 0 0.5rem;
    }

    &__nav {
		display: flex;
		align-items: center;
    }

    &__links {
        display: flex;
        list-style: none;
    }

	&__nav-link {
		color: $color-bg-blue;
		margin: 0 0.5rem;
    }

    &__login-signup {
        display: flex;
    }
}