@use '../../styles/colors' as *;

.header {
  display: flex;
  width: 100%;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 99;
  text-transform: capitalize;

  &__logo-nav {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__logo {
    // margin: 0 0.5rem;
    padding: 0.75rem;
    height: 100%;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__links {
    display: flex;
    list-style: none;
    font-weight: 500;
    font-size: 1.2rem;
  }

  &__nav-link {
    color: $color-bg-blue;
    margin: 0 0.75rem;
  }

  &__login-signup {
    display: flex;
  }
}
